body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    max-width: 60em;
    margin: auto;
}

.header {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    background-color: #ECECEC;
    overflow: hidden;
}

.header h1 {
    padding: 14px 14px;
    font-size: 17px;
    float: left;
    margin: 0px;
}

.header a {
    text-decoration: none;
    padding: 14px 14px;
    font-size: 17px;
    color: black;
    float: right;
}

.header a:hover {
    background-color: #D4D4D4;
}

.header-search {
    float: right;
}

.header-search input {
    font-size: 17px;
    margin-top: 8px;
    border: none;
    padding: 6px;
}

.header-search button {
    background-color: #555555;
    margin-right: 8px;
    padding: 6px 10px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 8px;
    border: none;
    color: white;
    float: right;
}

.comment {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    word-wrap: break-word;
    padding: 7px 14px;
    min-height: 70px;
}

.list {
    margin-top: 35px;
}

.list h1 {
    font-size: 17px;
    margin: 0px;
}

.list a {
    text-decoration: none;
    color: black;
}

.list ul {
    list-style-type: none;
    padding: 0px;
}

.list li {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    word-wrap: break-word;
    position: relative;
    padding: 8px 14px;
}

.list li:hover {
    background-color: #F5F5F5;
}

.delete-item {
    transform: translate(0%, -50%);
    background-color: white;
    position: absolute;
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    right: 0%;
    top: 50%;
}

.delete-item:hover {
    background-color: #D4D4D4;
}

.form {
    margin-top: 35px;
}

.form input[type=text], input[type=password] {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 17px;
    padding: 8px;
    width: 100%;
}

.textarea {
    font-family: 'Helvetica', 'Arial', sans-serif;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 17px;
    padding: 8px;
    resize: none;
    width: 100%;
}

.input {
    background-color: #ECECEC;
    padding: 2px 14px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    float: right;
}

.input:hover {
    background-color: #D4D4D4;
}

.button {
    background-color: #ECECEC;
    cursor: pointer;
    font-size: 17px;
    border: none;
    padding: 8px;
}

.button:hover {
    background-color: #D4D4D4;
}

.alert {
    background-color: #E74C3C;
    margin-top: 35px;
    padding: 20px;
    color: white;
}

.alert-button {
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 22px;
    float: right;
    color: white;
}

.alert-button:hover {
    color: black;
}