{% extends "layout.html" %}
{% block content %}
<div class="list">
    <ul>
        <li class="list-header">
            <h1>Keskustelualueet</h1>
        </li>
        {% for topic in topics %}
        {% if session.is_admin %}
        <form action="/delete_topic" method="POST">
            <a href="/topic/{{ topic.id }}">
                <li>{{ topic.title }}<input class="delete-item" type="submit" value="Poista"></li>
            </a>
            <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
            <input name="topic_id" type="hidden" value="{{ topic.id }}">
        </form>
        {% else %}
        <a href="/topic/{{ topic.id }}">
            <li>{{ topic.title }}</li>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% if private_topics %}
<div class="list">
    <ul>
        <li class="list-header">
            <h1>Yksityiset keskustelualueet</h1>
        </li>
        {% for private_topic in private_topics %}
        {% if session.is_admin %}
        <form action="/delete_topic" method="POST">
            <a href="/topic/{{ private_topic.id }}">
                <li>{{ private_topic.title }}<input class="delete-item" type="submit" value="Poista"></li>
            </a>
            <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
            <input name="topic_id" type="hidden" value="{{ private_topic.id }}">
        </form>
        {% else %}
        <a href="/topic/{{ private_topic.id }}">
            <li>{{ private_topic.title }}</li>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if session.is_admin %}
<form action="/" class="form" method="POST">
    <p><b>Luo uusi keskustelualue</b></p>
    <input name="title" placeholder="Aihe" type="text">
    <p><input name="private" checked type="radio" value="false"><label>Julkinen</label></p>
    <p><input name="private" type="radio" value="true"><label>Yksityinen</label></p>
    <button class="button" style="margin-top: 0px">Luo</button>
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
</form>
<p></p>
{% endif %}
{% endblock %}