{% extends "layout.html" %}
{% block content %}
{% if error %}
<div class="alert">
    <span class="alert-button" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>VIRHE:</strong> {{ error }}
</div>
{% endif %}
<div class="list">
    <ul>
        <li style="background-color: #ECECEC; border-top: 1px solid #DDDDDD"><h1>Keskustelualueet</h1></li>
        {% for topic in topics %}
        {% if session.is_admin %}
        <form action="/delete_topic" method="POST">
            <a href="/topic/{{ topic.id }}"><li>{{ topic.name }}<input class="delete-item" type="submit" value="Poista"></li></a>
            <input type="hidden" name="topic_id" value="{{ topic.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <a href="/topic/{{ topic.id }}"><li>{{ topic.name }}</li></a>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% if private_topics %}
<div class="list">
    <ul>
        <li style="background-color: #ECECEC; border-top: 1px solid #DDDDDD"><h1>Yksityiset keskustelualueet</h1></li>
        {% for private_topic in private_topics %}
        {% if session.is_admin %}
        <form action="/delete_topic" method="POST">
            <a href="/topic/{{ private_topic.id }}"><li>{{ private_topic.name }}<input class="delete-item" type="submit" value="Poista"></li></a>
            <input type="hidden" name="topic_id" value="{{ private_topic.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <a href="/topic/{{ private_topic.id }}"><li>{{ private_topic.name }}</li></a>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if session.is_admin %}
<form class="form" action="/" method="POST">
    <p><b>Luo uusi keskustelualue</b></p>
    <input type="text" name="topic" placeholder="Aihe">
    <p><input type="radio" name="private" value="f" checked><label>Julkinen</label></p>
    <p><input type="radio" name="private" value="t"><label>Yksityinen</label></p>
    <button class="button">Luo</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p></p>
{% endif %}
{% endblock %}