<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/main.css" rel="stylesheet">
<title>Keskustelupalsta</title>
<div class="header">
    <a href="/" style="float: left"><b>Keskustelupalsta</b></a>
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/profile/{{ session.user_id }}"><b>{{ session.username }}</b></a>
    {% else %}
    <a href="/register">Rekisteröidy</a>
    <a href="/login">Kirjaudu</a>
    {% endif %}
    <div class="header-search">
        <form action="/search" method="POST">
            <input name="keyword" placeholder="Etsi" type="text">
            <button>
                <svg height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" fill="none" r="8" stroke-width="2" stroke="currentColor" />
                    <line stroke-width="2" stroke="currentColor" x1="21" x2="16.65" y1="21" y2="16.65" />
                </svg>
            </button>
        </form>
    </div>
</div>
{% if error %}
<div class="alert">
    <span class="alert-button" onclick="this.parentElement.style.display='none'">&times;</span>
    <strong>VIRHE:</strong> {{ error }}
</div>
{% endif %}
{% block content %}{% endblock %}