{% extends "layout.html" %}
{% block content %}
<div>
    <form action="/login" class="form" method="POST">
        <p><b>Log in</b></p>
        <input name="username" placeholder="Username" type="text">
        <input name="password" placeholder="Password" type="password">
        <button class="button">Log in</button>
    </form>
    <button class="button" onclick="location.href='/register'">Register</button>
</div>
<button class="button" onclick="location.href='/'">Go back</button>
{% endblock %}