{% extends "layout.html" %}
{% block content %}
<div>
    <form action="/login" class="form" method="POST">
        <p><b>Kirjaudu sisään</b></p>
        <input name="username" placeholder="Tunnus" type="text">
        <input name="password" placeholder="Salasana" type="password">
        <button class="button">Kirjaudu</button>
    </form>
    <button class="button" onclick="location.href='/register'">Rekisteröidy</button>
</div>
<button class="button" onclick="location.href='/'">Palaa takaisin</button>
{% endblock %}