{% extends "layout.html" %}
{% block content %}
{% if not access and post.private %}
<p class="notice">Ei oikeutta nähdä sivua</p>
{% else %}
{% if not post.visible %}
<p class="notice">Tämä keskustelu on poistettu</p>
{% else %}
<form action="/post/edit_post" method="POST">
    <div class="post-header">
        <h1>{{ post.title }}</h1>
        {% if post.user_id == session.user_id or session.is_admin %}
        <input class="post-input" name="delete" type="submit" value="Poista keskustelu">
        {% endif %}
    </div>
    <div class="comment-header">
        <h1>{{ post.username }}</h1>
        {% if post.user_id == session.user_id %}
        <input class="post-input" name="update" type="submit" value="Muokkaa viestiä">
        {% endif %}
    </div>
    <div class="comment">
        {% if post.user_id == session.user_id %}
        <textarea class="comment-box" name="content">{{ post.content }}</textarea>
        {% else %}
        <p>{{ post.content }}</p>
        {% endif %}
    </div>
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
    <input name="post_id" type="hidden" value="{{ post.id }}">
</form>
{% for comment in comments %}
<form action="/post/edit_comment" method="POST">
    <div class="comment-header">
        <h1>{{ comment.username }}</h1>
        {% if comment.user_id == session.user_id or session.is_admin %}
        <input class="post-input" name="delete" type="submit" value="Poista viesti">
        {% endif %}
        {% if comment.user_id == session.user_id %}
        <input class="post-input" name="update" type="submit" value="Muokkaa viestiä">
        {% endif %}
    </div>
    <div class="comment">
        {% if comment.user_id == session.user_id %}
        <textarea class="comment-box" name="content">{{ comment.content }}</textarea>
        {% else %}
        <p>{{ comment.content }}</p>
        {% endif %}
    </div>
    <input name="comment_id" type="hidden" value="{{ comment.comment_id }}">
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
    <input name="post_id" type="hidden" value="{{ post.id }}">
</form>
{% endfor %}
{% if session.user_id %}
<form action="/post/{{ post.id }}" class="form" method="POST">
    <p><b>Kirjoita kommentti</b></p>
    <textarea class="comment-box" name="content" placeholder="Viesti"></textarea>
    <button class="button">Lähetä</button>
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
</form>
{% else %}
<p class="notice">Kirjaudu sisään kommentoidaksesi</p>
{% endif %}
{% endif %}
{% endif %}
<button class="button" onclick="location.href='/topic/{{ post.topic_id }}'">Palaa takaisin</button>
{% endblock %}