{% extends "layout.html" %}
{% block content %}
{% if not post.visible %}
<p>Tämä keskustelu on poistettu</p>
<p><a href="/topic/{{ post.topic_id }}">Palaa takaisin</a></p>
{% else %}
{% if session.user_id == post.user_id or session.is_admin %}
<form action="/post/edit_post" method="POST">
    <h2>{{ post.title }} <input type="submit" name="delete" value="Poista keskustelu"></h2>
    {% if not session.is_admin %}
    <p>
        <b>{{ post.username }}: </b><input type="text" name="content" value="{{ post.content }}"></b>
        <input type="submit" name="update" value="Muokkaa viestiä">
    </p>
    {% else %}
    {% if session.user_id == post.user_id %}
    <p>
        <b>{{ post.username }}: </b><input type="text" name="content" value="{{ post.content }}"></b>
        <input type="submit" name="update" value="Muokkaa viestiä">
    </p>
    {% else %}
    <p><b>{{ post.username }}: </b>{{ post.content }}</p>
    {% endif %}
    {% endif %}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<h2>{{ post.title }}</h2>
<p><b>{{ post.username }}: </b>{{ post.content }}</p>
{% endif %}
{% for comment in comments %}
{% if session.user_id == comment.user_id or session.is_admin %}
<form action="/post/edit_comment" method="POST">
    <p>
        <b>{{ comment.username }}:</b>
        {% if session.is_admin %}
        {% if session.user_id == comment.user_id %}
        <input type="text" name="comment" value="{{ comment.content }}">
        <input type="submit" name="update" value="Muokkaa viestiä">
        {% else %}
        {{ comment.content }}
        {% endif %}
        {% else %}
        <input type="text" name="comment" value="{{ comment.content }}">
        <input type="submit" name="update" value="Muokkaa viestiä">
        {% endif %}
        <input type="submit" name="delete" value="Poista viesti">
    </p>
    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<p><b>{{ comment.username }}:</b> {{ comment.content }}</p>
{% endif %}
{% endfor %}
<p><a href="/topic/{{ post.topic_id }}">Palaa takaisin</a></p>
<hr>
{% if session.user_id %}
<h2>Kirjoita kommentti</h2>
<form action="/post/{{ post.id }}" method="POST">
    <textarea name="content" placeholder="Viesti"></textarea>
    <p></p>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<p><b>Kirjaudu sisään kommentoidaksesi</b></p>
{% endif %}
{% endif %}
{% endblock %}