{% extends "layout.html" %}
{% block content %}
{% if not access and post.private %}
<p class="notice">You do not have permission to view this private discussion.</p>
{% else %}
{% if not post.visible %}
<p class="notice">This discussion has been removed.</p>
{% else %}
<form action="/post/edit_post" method="POST">
    <div class="post-header">
        <h1>{{ post.title }}</h1>
        {% if post.user_id == session.user_id or session.is_admin %}
        <input class="post-input" name="delete" type="submit" value="Delete discussion">
        {% endif %}
    </div>
    <div class="comment-header">
        <h1>{{ post.username }}</h1>
        {% if post.user_id == session.user_id %}
        <input class="post-input" name="update" type="submit" value="Edit post">
        {% endif %}
    </div>
    <div class="comment">
        {% if post.user_id == session.user_id %}
        <textarea class="comment-box" name="content">{{ post.content }}</textarea>
        {% else %}
        <p>{{ post.content }}</p>
        {% endif %}
    </div>
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
    <input name="post_id" type="hidden" value="{{ post.id }}">
</form>
{% for comment in comments %}
<form action="/post/edit_comment" method="POST">
    <div class="comment-header">
        <h1>{{ comment.username }}</h1>
        {% if comment.user_id == session.user_id or session.is_admin %}
        <input class="post-input" name="delete" type="submit" value="Delete comment">
        {% endif %}
        {% if comment.user_id == session.user_id %}
        <input class="post-input" name="update" type="submit" value="Edit comment">
        {% endif %}
    </div>
    <div class="comment">
        {% if comment.user_id == session.user_id %}
        <textarea class="comment-box" name="content">{{ comment.content }}</textarea>
        {% else %}
        <p>{{ comment.content }}</p>
        {% endif %}
    </div>
    <input name="comment_id" type="hidden" value="{{ comment.comment_id }}">
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
    <input name="post_id" type="hidden" value="{{ post.id }}">
</form>
{% endfor %}
{% if session.user_id %}
<form action="/post/{{ post.id }}" class="form" method="POST">
    <p><b>Write a comment</b></p>
    <textarea class="comment-box" name="content" placeholder="Write your comment here"></textarea>
    <button class="button">Post comment</button>
    <input name="csrf_token" type="hidden" value="{{ session.csrf_token }}">
</form>
{% else %}
<p class="notice">Please log in to post a comment.</p>
{% endif %}
{% endif %}
{% endif %}
<button class="button" onclick="location.href='/topic/{{ post.topic_id }}'">Back to topic</button>
{% endblock %}