{% extends "layout.html" %}
{% block content %}
{% if not session.user_id %}
<div>
    <p class="notice">Kirjaudu sisään nähdäksesi profiilisi sisällön</p>
    <button class="button" onclick="location.href='/login'">Kirjaudu</button>
</div>
{% elif session.user_id != user_id %}
<p class="notice">Ei oikeutta nähdä sivua</p>
{% else %}
<p class="notice">Statistiikka</p>
<p>Keskusteluja luotu: {{ posts_count }}</p>
<p>Kommentteja kirjoitettu: {{ comments_count }}</p>
<div class="list">
    <ul>
        <li class="list-header">
            <h1>Viestihistoria</h1>
        </li>
        {% for comment in user_comments %}
        <a href="/post/{{ comment.post_id }}">
            <li><b>{{ comment.title }} > </b>{{ comment.content }}</li>
        </a>
        {% endfor %}
    </ul>
</div>
{% endif %}
<button class="button" onclick="location.href='/'" style="margin-top: 35px">Palaa etusivulle</button>
{% endblock %}