{% extends "layout.html" %}
{% block content %}
{% if error %}
<div class="alert">
    <span class="alert-button" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>VIRHE:</strong> {{ error }}
</div>
{% endif %}
<form class="form" action="/register" method="POST">
    <p><b>Rekisteröidy</b></p>
    <input type="text" name="username" placeholder="Tunnus">
    <p></p>
    <input type="password" name="password" placeholder="Salasana">
    <p></p>
    <button class="button">Luo tunnus</button>
</form>
<p></p>
<button class="button" onclick="location.href='/login'">Palaa takaisin</button>
{% endblock %}